asgiref
certifi
contourpy
crispy-bootstrap5
cycler
distlib
dj-database-url
Django
django-crispy-forms
django-email
django-environ
django-tailwindcss
env
filelock
fonttools
kiwisolver
matplotlib
numpy
packaging
Pillow
pipenv
platformdirs
psycopg2
psycopg2-binary
pyparsing
python-dateutil
setuptools
six
sqlparse
typing_extensions
tzdata
virtualenv