{% load static%}
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About Page</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}"/>
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"/>
	
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body> 

	<div class="container">
	<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/PETs-Home.jpg' %}">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="{% static 'img/simple-house-logo.png' %}" alt="Logo" class="tm-site-logo" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Raft Cart</h1>
								<h6 class="tm-site-description">Pet Adoption Platform</h6>	
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="{% url 'home' %}" class="tm-nav-link">Home</a></li>
								{% if request.user.is_authenticated %}
									<li class="tm-nav-li"><a href="{% url 'deposit_money' %}" class="tm-nav-link">Deposit</a></li>
									<li class="tm-nav-li"><a href="{% url 'add_pet' %}" class="tm-nav-link">Add Pet</a></li>
									<li class="tm-nav-li"><a href="{% url 'report' %}" class="tm-nav-link">Report</a></li>
								{% else %}
									<li class="tm-nav-li"><a href="{% url 'register' %}" class="tm-nav-link">Register</a></li>
									<li class="tm-nav-li"><a href="{% url 'login' %}" class="tm-nav-link">Login</a></li>	
								{% endif %}
								<li class="tm-nav-li"><a href="{% url 'about' %}" class="tm-nav-link active">About</a></li>
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">About Raft Cart</h2>
				<p class="col-12 text-center">Raft Cart is not just a platform; it's a virtual haven for pets and their human companions. Whether you're a proud cat parent, a devoted dog lover, or the caretaker of exotic pets, our website caters to all types of animals. From informative articles and engaging forums to adorable pet photos and heartwarming stories, Raft Cart is the perfect place to celebrate the diverse world of pets.</p>
			</header>

			<div class="tm-container-inner tm-persons">
				<div class="row">
					<article class="col-lg-6">
						<figure class="tm-person">
							<img src="{% static 'img/about-001.jpg' %}" alt="Image" class="img-fluid tm-person-img" />
							<figcaption class="tm-person-description">
								<h4 class="tm-person-name">H.M Mahedi Hasan</h4>
								<p class="tm-person-title">Founder and CEO</p>
								<p class="tm-person-about">"Passionate about uniting pets with loving homes. Together, let's make a lasting impact on furry lives"</p>
								<div>
									<a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
									<a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
									<a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
								</div>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-6">
						<figure class="tm-person">
							<img src="{% static 'img/about-002.jpg' %}" alt="Image" class="img-fluid tm-person-img" />
							<figcaption class="tm-person-description">
								<h4 class="tm-person-name">Shikhan Chakraborty</h4>
								<p class="tm-person-title">Executive Chef</p>
								<p class="tm-person-about">"Dedicated to transforming pet lives. Join us in creating joyous bonds and forever homes. Thank you" </p>
								<div>
									<a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
									<a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
								</div>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-6">
						<figure class="tm-person">
							<img src="{% static 'img/about-003.png' %}" alt="Image" class="img-fluid tm-person-img"/>
							<figcaption class="tm-person-description">
								<h4 class="tm-person-name"> Al Mamun</h4>
								<p class="tm-person-title">Pets Manager</p>
								<p class="tm-person-about">"Fostering love and care for pets. Building bridges to lifelong homes. Your commitment shapes their destiny"</p>
								<div>
									<a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
									<a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
								</div>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-6">
						<figure class="tm-person">
							<img src="{% static 'img/about-004.png' %}" alt="Image" class="img-fluid tm-person-img" />
							<figcaption class="tm-person-description">
								<h4 class="tm-person-name">Md. Helal Uddin</h4>
								<p class="tm-person-title">Managing Director</p>
								<p class="tm-person-about">"Guiding a mission to unite pets and families. Every adoption transforms lives. Your support fuels our commitment"</p>
								<div>
									<a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
									<a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
									<a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
									<a href="https://youtube.com" class="tm-social-link"><i class="fab fa-youtube tm-social-icon"></i></a>
								</div>
							</figcaption>
						</figure>
					</article>
				</div>
			</div>
			<div class="tm-container-inner tm-featured-image">
				<div class="row">
					<div class="col-12">
						<div class="placeholder-2">
							<div class="parallax-window-2" data-parallax="scroll" data-image-src="{% static 'img/about-05.jpg' %}"></div>		
						</div>
					</div>
				</div>
			</div>
			<div class="tm-container-inner tm-features">
				<div class="row">
					<div class="col-lg-4">
						<div class="tm-feature">
							{% comment %} <i class="fas fa-4x fa-pepper-hot tm-feature-icon"></i> {% endcomment %}
							<img src="{% static 'img/cat-solid.svg' %}" alt="cat logo" class="ml-20 mb-5" style="height: 70px; width: 70px">
							<p class="tm-feature-description">Cats, independent yet affectionate, make purr-fect companions. With graceful agility and mysterious charm, they've been cherished throughout history as beloved members of countless households.</p>
							<a href="https://en.wikipedia.org/wiki/Cat" class="tm-btn tm-btn-primary">Read More</a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="tm-feature">
							{% comment %} <i class="fas fa-4x fa-seedling tm-feature-icon"></i> {% endcomment %}
							<img src="{% static 'img/dove-solid.svg' %}" alt="cat logo" class="ml-20 mb-5" style="height: 70px; width: 70px">
							<p class="tm-feature-description">Birds, diverse and fascinating, grace our world with vibrant colors and unique songs. From soaring eagles to tiny hummingbirds, their beauty and behaviors captivate nature enthusiasts globally.</p>
							<a href="https://en.wikipedia.org/wiki/Bird" class="tm-btn tm-btn-success">Read More</a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="tm-feature">
							{% comment %} <i class="fas fa-4x fa-cocktail tm-feature-icon"></i> {% endcomment %}
							<img src="{% static 'img/dog-solid.svg' %}" alt="cat logo" class="ml-20 mb-5" style="height: 70px; width: 70px">
							<p class="tm-feature-description">Dogs, known for their loyalty and playful nature, make paw-some companions. With boundless energy and unwavering devotion, they've become cherished members of families across the ages.</p>
							<a href="https://en.wikipedia.org/wiki/Dog" class="tm-btn tm-btn-danger mt-6">Read More</a>
						</div>
					</div>
				</div>
			</div>
			<div class="tm-container-inner tm-history">
				<div class="row">
					<div class="col-12">
						<div class="tm-history-inner">
							<img src="{% static 'img/about-006.jpg' %}" alt="Image" class="img-fluid tm-history-img" />
							<div class="tm-history-text"> 
								<h4 class="tm-history-title mt-5">History of This Platform</h4>
								<p class="tm-mb-p">Raft Cart pet adoptions since inception, our platform has a rich history. With a mission to unite pets and families, we've been redefining compassion and creating countless forever homes. Join us in our journey of love and companionship! Connecting pets with loving homes! Our platform simplifies pet adoption, making it easy for you to find your perfect furry companion. Join us in creating forever homes for every pet.</p>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</main>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; RaftCart - All Right Reserved
            
            | Design: <a rel="nofollow" href="https://templatemo.com">Raft Cart</a></p>
		</footer>
	</div>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/parallax.min.js' %}"></script>
</body>
</html>