{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}Pet Adoption System{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico'%}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/main.css'%}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"/>
    
</head>

<body>
  {% include 'navbar.html' %} {% block body %}
  <div class="lg:container lg:mx-auto" id="main">
    {% include 'messages.html' %} {% block content %} {% endblock %}
  </div>
  {% include 'footer.html' %} {% endblock %}

  <script src="{% static 'js/jquery.min.js'%}"></script>
	<script src="{% static 'js/parallax.min.js'%}"></script>
</body>
</html>