{% extends 'base.html' %} {% load static %} {% block head_title %}Raft Cart{% endblock %} {% block content %}

<body>
    <!-- banner -->
    <div class="bg-cover bg-no-repeat bg-center py-36" style="background-image: url('{% static 'images/slidePackagesandPlans.jpg'%}');">
        <div class="container">
            <h1 class="text-6xl text-gray-800 font-medium mb-4 capitalize">
                best collection Of <br> Pets
            </h1>
            <p>You will find very cute and adorable pets here.<br>
                This is the best place
                for adopt any kinds of pets</p>
            <div class="mt-12">
                <a href="{% url 'home' %}" class="bg-primary border border-primary text-white px-8 py-3 font-medium 
                    rounded-md hover:bg-transparent hover:text-primary">Shop Now</a>
            </div> 
        </div>
    </div>
    <!-- ./banner -->

    <!-- features -->
    <div class="container py-16">
        <div class="w-10/12 grid grid-cols-1 md:grid-cols-3 gap-6 mx-auto justify-center">
            <div class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5">
                <img src="{% static 'images/icons/delivery-van.svg'%}" alt="Delivery" class="w-12 h-12 object-contain">
                <div>
                    <h4 class="font-medium capitalize text-lg">Free Shipping</h4>
                    <p class="text-gray-500 text-sm">Order over $200</p>
                </div>
            </div>
            <div class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5">
                <img src="{% static 'images/icons/money-back.svg'%}" alt="Delivery" class="w-12 h-12 object-contain">
                <div>
                    <h4 class="font-medium capitalize text-lg">Money Rturns</h4>
                    <p class="text-gray-500 text-sm">30 days money returs</p>
                </div>
            </div>
            <div class="border border-primary rounded-sm px-3 py-6 flex justify-center items-center gap-5">
                <img src="{% static 'images/icons/service-hours.svg'%}" alt="Delivery" class="w-12 h-12 object-contain">
                <div>
                    <h4 class="font-medium capitalize text-lg">24/7 Support</h4>
                    <p class="text-gray-500 text-sm">Customer support</p>
                </div>
            </div>
        </div>
    </div>

    <!-- ads -->
    <div class="container pb-16">
        <a href="#">
            <img src="{% static 'images/20%off.jpg'%}" alt="ads" class="w-full">
        </a>
    </div>
    <!-- ./ads -->
    <div class="bg-gray-150">
        <div class="container mt-1 mx-auto p-6 ml-1">
            <div class="bg-white p-6 rounded-lg shadow-lg">
                <h2 class="text-lg font-bold mb-4 text-green-800">Filter By Category :</h2>
                <div class="flex flex-wrap gap-2">
                    <a href="{% url 'home' %}" class="bg-yellow-300 hover:bg-green-500 py-1 px-2 rounded-lg text-sm">All Category</a>
                {% for cat in category %}
                  <a href="{% url 'category_wise_pet' cat.slug %}" class="bg-red-400 hover:bg-green-300 py-1 px-2 rounded-lg text-sm">{{cat.category_name}}</a>
                {% endfor %}
            </div>
            </div>
        </div>
      </div>

    <!-- Pet Section start -->
    <div class="container pb-16">
        <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">All pets</h2>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
            {% for pet in data %}
                <div class="bg-white shadow rounded overflow-hidden group">
                    <div class="relative">
                        <img src="{{ pet.images.url }}" alt="pets" style="height: 315px; width: 474px;">
                        <div class="absolute inset-0 bg-black bg-opacity-40 flex items-center 
                        justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
                            <a href="#"
                                class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition"
                                title="view product">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                            <a href="#"
                                class="text-white text-lg w-9 h-8 rounded-full bg-primary flex items-center justify-center hover:bg-gray-800 transition"
                                title="add to wishlist">
                                <i class="fa-solid fa-heart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="pt-4 pb-3 px-4">
                            <h4 class="uppercase font-medium text-xl mb-2 text-gray-800 hover:text-primary transition">{{pet.pet_title}}</h4>
                        <div class="flex items-baseline mb-1 space-x-2">
                            <p class="space-x-1  font-roboto">
                                <span class="text-gray-800 text-xl font-semibold">Price:</span>
                                <span class="text-primary text-xl font-semibold">${{pet.price}}</span>
                            </p>
                        </div>
                        <div class="flex items-center">
                            <div class="flex gap-1 text-sm text-yellow-400">
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                            </div>
                        </div>
                        <div class="flex items-baseline mb-1 space-x-2">
                            <p class="space-x-1  font-roboto">
                                <span class="text-gray-800 font-semibold">Description:</span>
                                <span>{{pet.description |truncatechars:80}}</span>
                                {% comment %} <span>{{pet.description |truncatewords:10}}</span> {% endcomment %}
                            </p>
                        </div>

                    </div>
                    <a href="{% url 'detail_pet' pet.id %}" class="block w-full py-1 text-center text-white bg-primary border border-primary rounded-b hover:bg-transparent hover:text-primary transition">View Details</a>
                </div>
            {%endfor%}
        </div>
    </div>
    <!-- pet Section end -->
</body>
{%endblock%}